.close {
    width: 100%;
    display: flex;
    justify-content: space-between;

    mat-icon {
        margin: 12px;
        border-radius: 50%;
        padding: 4px;
    }

    mat-icon:hover {
        background-color: white;
    }
}