.about-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;

    app-close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .background {
        position: absolute;
        z-index: -1;
        height: 100%;
        min-width: 100vw;
        top: 0;
        left: 0;
    }

    .posts {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        padding: 12px;
        overflow: scroll;
        justify-content: center;
        padding-bottom: 100px;
    }

    .text {
        margin-bottom: 24px;
    }

    .post {
        padding: 20px;
        max-width: 340px;
        border: 2px solid grey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    // .me {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     height: 150px;
    //     width: 170px;

    //     img {
    //         height: 100%;
    //     }
    // }

    // @media screen and (width<=440px) {
    //     .me {
    //         display: none;
    //         visibility: hidden;
    //     }
    // }
}