<div class="about-container">
    <app-close></app-close>
    <div class="content">
        <div class="posts">
            <mat-card class="post">
                I got my start in the tech industry in 2020 when I enrolled in Hack Reactor, an Immersive Software
                Engineering Bootcamp. It was the best career choice I ever made! I seek out and thrive in environments
                where I'm intellectually stimulated, and software development provides
                just that, because the learning never ends.
            </mat-card>
            <mat-card class="post">
                I'm a problem solver, I love tinkering with systems, figuring out how they work and solving problems.
            </mat-card>
            <mat-card class="post">
                I live in Orlando, Florida with my wonderful wife Susie and our two amazing dogs Rosie and Tito.
            </mat-card>
            <mat-card class="post">
                I'm a science and space junkie. I love reading about the latest discoveries being made and am constantly
                amazed by advances in technology. Being able to see back 13.7 billion years with the JWST is mind
                boggling.
            </mat-card>
            <mat-card class="post">
                "A programmer's wife asks him, 'Would you go to the shop and pick up a loaf of bread? And if they have
                eggs, get a dozen.' The programmer goes to the store and returns home with 12 loaves of bread. 'They had
                eggs,' he explained."
            </mat-card>
            <mat-card class="post">
                "For me, I am driven by two main philosophies, know more today about the world than I knew yesterday.
                And
                along the way, lessen the suffering of others. You'd be surprised how far that gets you." - NDT
            </mat-card>
            <mat-card class="post">
                Who Dat? I'm a Saints fan through and through. If Brady is the GOAT Brees is Baby GOAT. Oh and I'll
                crush you in Madden any day any time.
            </mat-card>
            <mat-card class="post">
                Traveling is a passion, I want to see as much of the world as possible and experience other cultures
            </mat-card>
            <mat-card class="post">
                I have a love for all sports and a competitive nature. I'm always down for pickup games, and I love how
                sports bring people together.
            </mat-card>
        </div>
        <img class="me" src="{{'../../../../assets/about.png' | ghPagesLink}}" />
    </div>
</div>