<div class="about-container">
    <app-close></app-close>
    <div class="content">
        <div class="posts">
            <mat-card class="post">
                <div class="text">
                    I got my start in the tech industry in 2020 when I enrolled in Hack Reactor, an Immersive Software
                    Engineering Bootcamp. It was the best career choice I ever made! I seek out and thrive in
                    environments
                    where I'm intellectually stimulated, and software development provides just that, because the
                    learning never ends.
                </div>
                <img src="{{'../../assets/main-image.png' | ghPagesLink}}">
            </mat-card>

            <mat-card class="post">
                <div class="text">
                    I live in Orlando, Florida with my wonderful wife Susie and our two amazing dogs Rosie and Tito.
                </div>
                <img src="{{'../../assets/susie.png' | ghPagesLink}}">
            </mat-card>
            <mat-card class="post">
                <div class="text">
                    I'm a problem solver, I love tinkering with systems, figuring out how they work, and solving
                    problems.
                </div>
                <img src="{{'../../assets/brain.jpg' | ghPagesLink}}">
            </mat-card>
            <mat-card class="post">
                <div class="text">
                    I'm a science and space junkie. I love reading about the latest discoveries being made and am
                    constantly
                    amazed by advances in technology. Being able to see back 13.7 billion years with the JWST is mind
                    boggling.
                </div>
                <img src="{{'../../assets/jameswebb.jpg' | ghPagesLink}}">
            </mat-card>
            <mat-card class="post">
                <div class="text">
                    Traveling is a passion, I want to see as much of the world as possible and experience other cultures

                </div>
                <img src="{{'../../assets/rome.png' | ghPagesLink}}">
            </mat-card>
            <mat-card class="post">
                <div class="text">
                    "A programmer's wife asks him, 'Would you go to the shop and pick up a loaf of bread? And if they
                    have
                    eggs, get a dozen.' The programmer goes to the store and returns home with 12 loaves of bread. 'They
                    had
                    eggs,' he explained."
                </div>

                <img src="{{'../../assets/programming-meme.webp' | ghPagesLink}}">
            </mat-card>
            <mat-card class="post">
                "For me, I am driven by two main philosophies, know more today about the world than I knew yesterday.
                And
                along the way, lessen the suffering of others. You'd be surprised how far that gets you." - NDT
                <img style="height: 70%; width: 60%; align-self: center;"
                    src="{{'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/52bb9261-6253-4fd4-9770-e05ee10f8893/da9rsgd-bccfe9b2-0487-4b2f-b514-b342f3cc97da.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUyYmI5MjYxLTYyNTMtNGZkNC05NzcwLWUwNWVlMTBmODg5M1wvZGE5cnNnZC1iY2NmZTliMi0wNDg3LTRiMmYtYjUxNC1iMzQyZjNjYzk3ZGEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dnc9d8A7QOCQhTe2IgluvTYKEQuNeJh4l1ZULFMa8lY' | ghPagesLink}}" />
            </mat-card>
            <mat-card class="post">
                <div class="text">
                    Who Dat? I'm a Saints fan through and through. If Brady is the GOAT Brees is Baby GOAT. Oh and I'll
                    crush you in Madden any day any time.
                </div>
                <img style="height: 70%; width: 50%; align-self: center;"
                    src="{{'../../assets/drew.jpg' | ghPagesLink}}">
            </mat-card>
            <mat-card class="post">
                <div class="text">
                    The world just wouldnt be as good without the love from our pets. And these pups are two of the
                    best!
                </div>
                <img src="{{'../../assets/pups.png' | ghPagesLink}}">
            </mat-card>
        </div>
        <img class="me" src="{{'../../../../assets/about.png' | ghPagesLink}}" />
    </div>
</div>