.about-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;

    app-close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .content {
        border: 1px solid black;
        height: 90%;
        width: 90%;
        margin-left: 4%;
        display: flex;
        position: relative;
        border-radius: 5px;
        background-image: url('https://img.freepik.com/free-vector/gradient-universe-background_23-2149635763.jpg');
        background-position: center;
        background-size: cover;
    }

    .posts {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        padding: 12px;
        overflow: scroll;
        justify-content: center;
        padding-bottom: 200px;
    }

    .text {
        margin-bottom: 24px;
    }

    .post {
        padding: 20px;
        max-width: 340px;
    }

    // .post:hover {
    //     z-index: 2;
    // }

    .me {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 150px;
        width: 170px;
    }

    // @media screen and (width<=920px) {
    //     .posts {
    //         padding-bottom: 200px;
    //     }
    // }

    // @media screen and (max-device-width : 920px) {
    //     .posts {
    //         padding-bottom: 200px;
    //     }
    // }
}