.projects-container {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;

    .background {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    app-close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .projects-headline {
        display: flex;
        gap: 24px;
        color: #fff;
        margin-left: 5%;

        h1 {
            margin-top: 12px;
        }

        img {
            height: 60px;
            width: 65px;
        }
    }

    .board {
        flex-wrap: wrap;
        gap: 12px;
        display: flex;
        padding: 12px 0 24px;
        border-radius: 5px;
        margin-left: 5%;
        width: 90%;
        justify-content: center;

        .swim-lane {
            padding: 8px;
            flex: 1;
            background-color: rgb(222, 222, 222);
            border-radius: 5px;
            min-height: 216px;
            min-width: 160px;

            .task-list {
                height: calc(100% - 66px);
                border-radius: 4px;
                overflow: hidden;
                display: block;
            }

            .task-box {
                padding: 20px 10px;
                margin-top: 8px;
                color: rgba(0, 0, 0, 0.87);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                box-sizing: border-box;
                cursor: move;
                background: white;
                border-radius: 5px;
            }

            div.cdk-drag.task-box {
                min-height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    margin: 0 8px;
                }

                .bottom-line {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    color: white;

                    button {
                        padding: 12px;
                        border-radius: 50%;
                        margin-right: 4px;
                        cursor: auto;
                    }
                }
            }

            // this makes the original box transparent while dragging
            .cdk-drag-placeholder {
                opacity: 0;
            }

            .title {
                display: flex;
                align-items: center;
                margin-top: 8px;
                width: fit-content;
                padding: 4px;
                font-weight: bolder;

                h4 {
                    margin-top: 4px;
                    padding: 4px 8px;
                    font-weight: bolder;
                    border-radius: 3px;
                }

                .in-progress {
                    background-color: rgb(187, 214, 255);
                    color: rgb(0, 0, 187);
                }

                .completed {
                    background-color: rgb(158, 255, 158);
                    color: rgb(0, 75, 0);
                }

                .todo {
                    background-color: rgb(200, 200, 200);
                }

                .number {
                    margin-left: 12px;
                }
            }
        }
    }
}