<div class="home-container">
  <div class="banner">
    <div class="banner-links">
      <img class="link" src="../assets/github.svg" />
      <img class="link" src="../assets/medium.png" />
      <img class="link" src="../assets/linkedin.png" />
    </div>
  </div>
  <div class="content">
    <div class="intro">
      <div class="message">
        <h2 class="hi">Hi<span class="wave">👋</span></h2>
        <h1>I'm JUSTIN PAOLETTA</h1>
        <p>a</p>
        <h2>SOFTWARE ENGINEER</h2>
        <p>Who specializes in building SPA's using the Angular framework,</p>
        <p>and takes pleasure in designing modern and unique UI's</p>
      </div>
      <div class="buttons">
        <div class="circle-button green link">
            Contact
        </div>
        <div class="circle-button purple link">
          About
        </div>
        <div class="circle-button green link">
          Resume
        </div>
        <div class="circle-button purple link">
          Projects
        </div>
      </div>
    </div>
    <div class="landing-photo-container">
      <img src="../assets/macbook.png" />
    </div>
  </div>
</div>
<router-outlet></router-outlet>
