<div class="landing-container">
  <app-banner></app-banner>
  <div class="content">
    <div class="intro">
      <div class="message">
        <h2 class="hi">Hi<span class="wave">👋</span></h2>
        <h1>I'm JUSTIN PAOLETTA</h1>
        <p>a</p>
        <h2>SOFTWARE ENGINEER</h2>
        <p>Who specializes in building SPA's using the Angular framework,</p>
        <p>and takes pleasure in designing modern and unique UI's</p>
      </div>
      <app-buttons></app-buttons>
    </div>
    <div class="landing-photo-container">
      <img src="{{macbook | ghPagesLink}}" />
    </div>
  </div>
</div>