.resume-container {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;

    app-close {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    pdf-viewer {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        z-index: 0;
    }
}